// Fonts 
@import url("https://use.typekit.net/kws6grx.css");

// General 

html, body {
    overflow-x: hidden;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: titillium-web, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: museo-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
}

//Pages 

.home {
    .non-img-logo {
        display: none;
    }
}

.page-template-workforce-page, .page-template-leadership-consulting-page, .page-template-infrastructure-management-page, .page-template-team-page, .page-template-contact-page {
    .img-logo {
        display: none;
    }

    .clear-nav .nav-link {
        color: $nc-black;
    }

}

// Nav Bars

.clear-nav {

    background-color: transparent;
    z-index: 100;

    .nav-link {
        font-family: museo-sans, sans-serif;
        font-weight: 900;
        color: $nc-white;
    }

}

.custom-select{
    border: 1px solid #FFFFFF !important;
    font-size: 12px!important;
    border-radius: 30px!important;
    width: 130px!important;
    height: 36px;
    background-color: $nc-yellow!important;
    color: #FFFFFF!important;
    background: $nc-yellow url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'><path fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") right .75rem center/8px 10px no-repeat!important;
   }

// Headers 
.banner-h {
    font-size: 4.375em;
}

.page-header {
    font-size: 2.500em;
}

.page-header-bigger {
    font-size: 3.75em;
}

.sub-page-h {
    font-size: 1.500em;
    font-weight: 100;
    color: $nc-blue;
}

.short-text {
    font-family: museo-sans, sans-serif;
    font-weight: 500;
    font-style: italic;
}

//Links 

.section-link {
    color: $nc-blue;
    text-decoration: none;
    font-weight: 900;
}

//Lottie player 
lottie-player {
    display: block;
    margin: 0 auto 30px auto;
}

.left-anima {
    position: absolute;
    left: -83px;
    top: -244px;
}

.left-anima-full {
    position: absolute;
    left: -83px;
    top: -244px;
}

.right-anima {
    position: absolute;
    right: -115px;
    top: -244px;
}

//Footer 

.footer {
    background-color: $nc-white;
    padding: 65.5px;

    p img {
        display: inline;
        margin: 0 5px 0 0 ;
        top: 10px;
        position: relative;
    }

    h4 {
        font-size: 18px;
        color: $nc-blue;
        text-transform: uppercase;
        font-weight: 900;
    }

    .nav-link {
        color: $nc-black;
        font-weight: 900;
        padding: 0.5rem 0;
    }

    .social-nav {

        .nav-link {
            margin-right: 22px;
        }
    }
}