// Fonts 
@import url("https://use.typekit.net/kws6grx.css");

// General 

html, body {
    overflow-x: hidden;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: titillium-web, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: museo-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
}

a {
    color: $nc-blue;
    text-decoration: none;
}

.quote {
    color: $nc-yellow;
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    border-radius: 0;
    font-family: museo-sans, sans-serif;
    font-weight: 800;
}

.btn-secondary {
    position: relative;

    &:hover {
        box-shadow: 4px 4px $nc-blue;

        &:before {
            transition: 0.5s;
            }
        
    }
}

.btn-primary {
    position: relative;

    &:hover {
        box-shadow: 4px 4px $nc-yellow;

        &:before {
            transition: 0.5s;
            }
        
    }
}

form.fluent_form_3 .ff-btn-submit {
    background-color: $nc-green !important;
    color: #ffffff;
    border-radius: 0 !important;
    text-transform: uppercase;

    &:hover {
        box-shadow: 4px 4px $nc-yellow;

        &:before {
            transition: 0.5s;
            }
        
    }
}

.fluentform .ff_upload_btn.ff-btn {
    background: $nc-yellow !important;
    color: #fff;
    cursor: pointer;
    display: block !important;
    padding: 10px 20px;
    margin: 0 auto;
    width: 195px;
    text-align: center;
}

.fluentform .ff_file_upload_holder {
    margin: 0 auto !important;
    width: 195px;
    display: block;
}

//Pages 



.home {
    .non-img-logo {
        display: none;
    }

    .top-shape {
        display: none;
      }
}

.page-template-workforce-page, .page-template-leadership-consulting-page, .page-template-infrastructure-management-page, .page-template-team-page, .page-template-contact-page, .blog, .page-template-page-careers, .single-jobs, .single-post {
    .img-logo {
        display: none;
    }

    .top-shape {
        position: relative;
        padding-bottom: 27px;

        img {
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .clear-nav .nav-link {
        color: $nc-black;
    }

}

.page-template-about-page {

    .non-img-logo {
        display: none;
    }
    .top-shape {
        display: none;
    }
}

.page-template-workforce-page {
    .leadership {
        display: none;
    }
    .infrastructure {
        display: none;
    }
}

.page-template-leadership-consulting-page {
    .workforce {
        display: none;
    }
    .infrastructure {
        display: none;
    }
}

.page-template-infrastructure-management-page {
    .workforce, .leadership {
        display: none;
    }
}

.page-template-team-page {

    .workforce {
        display: none;
    }
    .infrastructure {
        display: none;
    }

    .leadership {
        display: none;
    }

}

.page-template-contact-page {
    .workforce {
        display: none;
    }
    .infrastructure {
        display: none;
    }

    .leadership {
        display: none;
    }

    .team {
        display: none;
    }
}

.page-template-infrastructure-management-page {

    .workforce {
        display: none;
    }
    .careers {
        display: none;
    }

    .leadership {
        display: none;
    }

    .team {
        display: none;
    }

    .contact {
        display: none;
    }

}

.page-template-page-careers {

    .workforce {
        display: none;
    }
    .infrastructure {
        display: none;
    }

    .leadership {
        display: none;
    }

    .team {
        display: none;
    }

    .contact {
        display: none;
    }

}

// Post 

.post {

    .post-categories {
        margin: 0 0 30px 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            list-style: none;

            a {
                font-size: 19px;
                color: $nc-blue;
                font-weight: 700;
            }
        }

    
    }
     h1 {
        font-size: 70pxw;
     }

     h2 {
        font-size: 40px;
     }

     img {
        width: 992px;
        height: 625px;
        margin: 30px auto;
     }
}

// Nav Bars

.clear-nav {

    background-color: transparent;
    z-index: 100;

    .nav-link {
        font-family: museo-sans, sans-serif;
        font-weight: 900;
        color: $nc-white;
    }

}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 800;
    color: $nc-black;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-align: center;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: $nc-yellow;
}

// Headers 
.banner-h {
    font-size: 4.375em;
}

.page-header {
    font-size: 2.500em;
}

.page-header-bigger {
    font-size: 3.75em;
}

.sub-page-h {
    font-size: 1.500em;
    font-weight: 100;
    color: $nc-blue;
}

.short-text {
    font-family: museo-sans, sans-serif;
    font-weight: 500;
    font-style: italic;
}

//Links 

.section-link {
    color: $nc-blue;
    text-decoration: none;
    font-weight: 900;
}

//Lottie player 
lottie-player {
    display: block;
    margin: 0 auto 30px auto;
}

.left-anima {
    position: absolute;
    left: -83px;
    top: -244px;
}

.left-anima-full {
    position: absolute;
    left: -83px;
    top: -244px;
}

.right-anima {
    position: absolute;
    right: -115px;
    top: -244px;
}

//Footer 

.footer {
    background-color: $nc-white;
    padding: 65.5px;

    p img {
        display: inline;
        margin: 0 5px 0 0 ;
        top: 10px;
        position: relative;
    }

    h4 {
        font-size: 18px;
        color: $nc-blue;
        text-transform: uppercase;
        font-weight: 900;
    }

    .nav-link {
        color: $nc-black;
        font-weight: 900;
        padding: 0.5rem 0;
    }

    .social-nav {

        .nav-link {
            margin-right: 22px;
        }
    }
}

// Related Post 

.related-post {
    padding: 120px 20px;
    background-color: $nc-blue;
    color: $nc-white;

    h3 {
        font-size:24px;
        min-height: 58px;

        a {
            color: $nc-white;
        }
    }

    .btn-secondary {
        position: relative;
    
        &:hover {
            box-shadow: 4px 4px $nc-yellow;
    
            &:before {
                transition: 0.5s;
                }
            
        }
    }
}

// Animations 

@keyframes strike{
    0%   { width : 0; }
    100% { width: 100%; }
  }
  .strike {
    position: relative;
  }
  .strike::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background: $nc-yellow;
    animation-name: strike;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
  }